[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
requests = "*"
sklearn = "*"
pandas = "*"

[dev-packages]
sphinx = "*"

[requires]
python_version = "3.7"
